<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="Info" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>INFO</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<encoder>
			<pattern>%d{HH:mm:ss} [INFO] %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="Debug" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>DEBUG</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<encoder>
			<pattern>%d{HH:mm:ss} [DEBUG] %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="Warn" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>WARN</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<encoder>
			<pattern>%d{HH:mm:ss} [WARNING] %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
	
	<appender name="Error" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<encoder>
			<pattern>%d{HH:mm:ss} [ERROR] %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
	
	<appender name="Trace" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>TRACE</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<encoder>
			<pattern>%d{HH:mm:ss} [TRACE] %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<root level="DEBUG">
		<appender-ref ref="Debug" />
		<appender-ref ref="Info" />
		<appender-ref ref="Warn" />
		<appender-ref ref="Error" />
		<appender-ref ref="Trace" />
	</root>
</configuration>